body {
    background-image: url("./../imgs/fundo-roxo-de-tecnologia_23-2149118853.avif");
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
  }
/* Define a cor de fundo do cabeçalho */
.header {
    /* background-color: #1f1f1f;
    color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* Define o estilo do título */
  .title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Define o estilo dos botões */
  .btn {
    background-color: #8a3ab9;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    transition: background-color 0.5s ease;
  }
  
  /* Define o estilo do botão 'Sobre' */
  .btn:first-of-type {
    background-color: #6a2c8c;
  }
  .btn:hover {
    background-color: #c39bd3;
  }

  .img{
    width: 370px;
    /* justify-content: space-between; */
    display: flex;
    margin-left: 120px;
  }

  .conteiner{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 25px;
    /* text-align: center; */
  }
  .contentText{
    text-align: center;
    /* display: flex; */
    /* font-size: 18px; */
    /* width: 250px; */
    box-sizing: border-box;
    /* border: red 2px solid; */
    width: 500px;
    /* height: auto; */
    margin-right: 150px;
  }
  .contentText p{
    font-size: 21px;
    text-align: center;
    line-height: 1.5;
  }

  .menu-lateral {
	position: fixed;
	top: 0;
	right: 0;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.menu-lateral ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.menu-lateral .icone {
	width: 30px;
	filter: invert(1);
	transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover {
	transform: scale(1.2);
}